@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Signup  */
.container-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup-container {
  height: 700px;
  width: 1100px;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.right-side {
  background: #047333;
  width: 50%;
  height: 100%;
  border-radius: 16px 0 0 16px;
}
.left-side {
  background: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
  border-radius: 0 16px 16px 0;
}



/* signin   */

.left-side-signin {
  background: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
  border-radius: 16px 0px 0px 16px;
}
.right-side-signin {
  background: #047333;
  width: 50%;
  height: 100%;
  border-radius: 0px 16px 16px 0px;
}

/* form  */
.form-container{

}